nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem 1rem;
        text-decoration: none;

        &:hover {
          background-color: #ff0000;
        }
      }
    }
  }
}
