<form (ngSubmit)="login()" #loginForm="ngForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Enter your username"
        title="Username"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Enter your password"
        title="Password"
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </mat-dialog-actions>
</form>
